@import './config';

  
body {
  text-align: center;
  overflow-x: hidden;
  background-color: $Cadet-Blue;
}

.region{
  font-size: 2rem;
  padding-top: 5vh;
}

//===Navbar===

nav{
  min-height: 10vh;
  width: 100%;
  background: lightcyan;
}

.search-container{
  padding-top: 1.2rem;
  margin-left: 2em;
}

.search{
  font-size: 1em;
  padding: .53em .45em;
  border-radius: 2em 0 0 2em;
  border: 1px solid black;
  background: lightgray;
}

.search-btn{
  margin: .3em 0 .5em 0;
  padding: .31em .25em;
  border-radius: 0 2em 2em 0;
  border: 1px solid black;
  font-size: 1.2em;
  color: black;
}

//===Weather component===

.weather-container{
  min-height: 70vh;
}

.weather{
  position: inherit;
  width: 320px;
  margin: 0 auto;
  padding-top: 10vh;
  display: flex;
}

.temp{
  padding-right: 1em;
}


.line{
  padding: 1.5rem 0;
  border-radius: 10px;
  border: 1px solid black;
}


div{
  p{
    padding-left: 1em;
    font-size: 1.2rem;
  }
}

@media (min-width: 980px) {
  .region{
    padding-top: 10vh;
  }
  .weather-container{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
  }
  .line{
    max-height: 180px;
  }
  .temp{
    margin-right: .5em;
  }
}

//===Footer===

footer{
  position: inherit;
  min-height: 30vh;
  margin-top: 10vh;
  padding-top: 13vh;
  justify-content: center;
  background-color: lightcyan;
}